@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to top, #080d57 0%, #ffffff 100%);
}

.contenedor-gral {
    height: 43.75em;
    width: 60em;
    margin: 6em auto;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    overflow: hidden;
}

.info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 0.5rem;
    /* background-color: var(--login-bg); */
    background-color: rgba(255, 255, 255, .3);
}

.portada {
    padding: 2rem;
    width: 70%;
    /* background-color: var(--image-bg); */
    background-color: #ffffff;
    box-sizing: border-box;
    overflow: hidden;
}

.titulo {
    text-transform: capitalize;
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #000000;
}

.formulario {
    height: 55%;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input, .btn {
    width: 90%;
    height: 2.825rem;
    font-size: .8em;
}

.input {
    padding-left: 20px;
    border: none;
    outline: none;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
}

.input:hover {
    border: 2px solid #000000;
}

.btn {
    width: 80%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    border: none;
    background-color: #2a2a3d;
    cursor: pointer;
    transition: all .3s;
}

.btn:hover {
    background-color: #181824;
    transform: scale(1.02);
}

.formulario p {
    margin: 0;
}

.span {
    color: #0011ff;
    font-weight: 600;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .titulo {
        font-size: 1.45rem;
        color: #000000;
    }
    h2 {
        font-size: 1rem;
    }
    .formulario {
        .titulo {
    text-transform: capitalize;
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #000000;
}
        /* height: 55%; */
        width: 300px;
    }
    .contenedor-gral {
        width: 70%;
        margin-top: 3rem;
        justify-content: space-evenly;
    }
    .info {
        width: 300px;
    }
    
    .portada {
        display: none;
    }  
}

@media screen and (max-width: 650px) {
    .formulario {
        /* height: 55%; */
        width: 300px;
    }
    .contenedor-gral {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .formulario {
        /* height: 55%; */
        width: 300px;
    }
    .contenedor-gral {
        /* height: 90%; */
    }

    .info > p {
        margin: 0;
    }
}




